Enter a New Task:
<app-add-task (addTaskEvent)="handleNewTask($event)"/>
<br />
<br />

Tasks: (click a task to see details)
@for(task of tasks; track task.id) {

@if(task.completed === false) {
  <div>
    <button class="task-button" [appHighlight]="task.isDueToday" (click)="selectTask(task)">{{task.name}}, {{task.time | date: "MMM dd": "EST"}}, {{task.time | timeLeft}}</button>
  </div>
  }
}
<br />

Task Details:
<app-task [task]="selectedTask" (completeTask)="handleCompleteTask(selectedTask)"/>