.task-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;  
    border: 2px solid #e0e0e0;  
    color: #0f0f0f;  
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .task-button:hover {
    background-color: #e0e0e0;  
    border-color: #c0c0c0;  
  }
  
  h2 {
    margin-top: 20px;
    color: #2c3e50;  
  }