h1 {
  text-align: center;
  margin: 0 auto 30px auto;
  width: fit-content;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 20px auto;
  background-color: #bbbbbb;
  color: black;
  max-width: 600px;
}

input[type="text"], input[type="date"], button {
  padding: 8px;
  margin: 5px 0;
  border: 2px solid #dcdcdc;  
  border-radius: 4px;
  width: calc(100% - 16px);  
}

button {
  cursor: pointer;
  background-color: #148ad9;  
  color: white;
  border: none;
  max-width: 600px;
}

button:hover {
  background-color: #5090bb;  
}